*{
    font-family: nunito;
}

.navbar{
    background-color: #fff !important;
}

.header-fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.75);
    z-index: 999999;
}

.navbar-brand{
    font-weight:700;
    color: #a0041e;
}

.nav-link{
    font-weight: 700;
}

.cta{
    border: 2px solid #a0041e;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 10px 15px !important;
}

.cta:hover{
    background-color: #a0041e;
    color: #eee;
}

.tan{
    border: 2px;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 10px 15px !important;
    background-color: #fffdfd;
     color: #020101;
}
.tan:hover{
    background-color: #a0041e;
    color: #eee;
}
.cat{
    border: 2px;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 10px 15px !important;
    background-color: #d1345b;
     color: #eee;
}
.cat:hover{
        background-color: #f1e6e8;
        color: black;
}

.bus{
    border: 2px;
    border-radius: 10px;
    padding: 10px 15px !important;
    background-color: #dbb7c0;
    color: #d1345b;
}
.bus:hover{
        background-color: #0e0204;
        color: #d1345b;
}

.des{
    border: 2px;
    border-radius: 10px;
    padding: 10px 15px !important;
    background-color: #b9e6ab;
     color: #086b15;
}
.des:hover{
    background-color: #0e0204;
    color: #086b15;
}
.ind{
    border: 2px;
    border-radius: 10px;
    padding: 10px 15px !important;
    background-color: #89bbe4;
     color: blue;
}
.ind:hover{
    background-color: #0e0204;
    color: blue;
}
.banner{
    min-height: 500px;
    margin-top: 70px;
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.banner2{
    min-height: 500px;
    margin-top: 70px;
    background-image: url(../images/b2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.overlay{
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 45;
}

.banner-content{
    position: relative;
    z-index: 60;
}

.cover{
    height: 400px;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.overlay3{
    background-color: rgba(2, 1, 1, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 45;
}
.overlay2{
    background-color: rgba(253, 251, 251, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 45;
}

.covercontent{
    color: #eee;
    z-index: 100;
    position: relative;
    text-align: left;
    padding: 5%;
}

.overlay2text{
    z-index: 70;
    position: relative;
}

.active{
    color: #a0041e !important;
}

.textpink{
    color: #d1345b;
}
.about{
    min-height: 650px;
}

.about1 p{
    font-size: 20px;
    padding-top: 20px;
}

.banner-padding{
    padding: 12% 5%; 
}

.box{
    background-color: #eee7e7;
}
.hirebg img{
    width: 100%;
}
.hirebtn{
    margin-top: 20px;
    padding-left: 20px;
}

.qa .class{
    height: 500px;
}

.boldtext{
    font-weight: bold;
}

.textcenter{
    text-align: center;
}
ul{
    list-style-type: none;
}
.footer{
    justify-items: flex-start;
}
.circle img{
    border: #d1345b solid;
    height: 50px;
    width: 100px;
}

hr{
    position: relative;
    top: 5px;
    border: none;
    height: 5px;
    background: black;
    margin-bottom: 50px;
}
.pinkhr{
    background: #971938;
    border: #a0041e solid;
}
.testimony{
    min-height: 800%;
}

.align-left{
    text-align: left;
}
.go{
    border: solid black;
    justify-content: flex-end;
    justify-items: flex-end;
}
